<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link rel="stylesheet" href="css/styles.css/" />
  </head>
  <body>
    <header class="container">
      <nav>
        <a href="">Link 1</a>
        <a href="">Link 2</a>
        <a href="">Link 3</a>
      </nav>
    </header>
    <main class="container">
      <h1>Name of Site</h1>
      <img src="images/thumbnail-1.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
        doloribus incidunt iste in adipisci minus dolores veritatis asperiores
        nemo voluptates, debitis odio corrupti, repellat, architecto laboriosam.
        Dignissimos voluptates voluptate accusamus. Commodi quidem, ex assumenda
        adipisci ea fugit nisi perferendis illum sint sunt nesciunt illo. Non,
        voluptas dolore. Minima ab porro, dolore quidem nostrum optio sed atque
        ullam, iure, officia voluptas. Iusto dolores, eos dolorem exercitationem
        eum placeat ipsa temporibus ex impedit soluta sunt unde incidunt,
        recusandae, nostrum beatae id consequuntur. Molestias beatae voluptatem
        repellat sequi, voluptate aspernatur aut eaque qui. Fugiat ducimus velit
        quasi facilis. Error laboriosam adipisci quis suscipit dicta. Accusamus
        qui nisi minus, et eum aperiam perspiciatis vero. Illum quisquam
        veritatis incidunt nesciunt nisi iusto, tenetur nihil at.
      </p>
      <img src="images/thumbnail-2.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At explicabo
        consectetur qui aliquid? Iusto pariatur ea dolor odio cumque porro,
        distinctio quas laborum suscipit facere reprehenderit magni consequatur
        qui optio! Autem sed quis sequi tenetur? Iste nam labore quidem rerum
        necessitatibus sunt quam minima voluptatibus, quisquam animi atque
        veniam cum ratione, vero itaque architecto vitae assumenda dolorem
        reprehenderit obcaecati quos!
      </p>
    </main>
    <footer class="containter">
      <p>&copy;2023 Ben Nickels</p>
    </footer>
  </body>
</html>
