body{
    background: #63634f;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffd3ab
}

h1{
    font-family: cursive;
    color: burlywood;
    text-align: right;
}

img{
    display:block;
    width: 45%;
    margin: 20px auto;
    border: 8px solid burlywood;
    border-radius: 30%
}

figure{
    border: 5px solid burlywood;
    width: 45%; 
    padding:50px;
    border-radius:80%;
}

ol{
    color:#c19561
}

ul{
    list-style-type:square;
    color:beige
}

dt{
    color: #dcdc64
}