.masthead {
    background-color: #3a3dc8;
    color: #e9ef95;
    padding: 2rem 0;
    text-align: center;
   
}

#dq {
    width: 80%;
    display: block;
    margin: 20px auto;
}

.carousel-inner{
    background: black;
    min-height: 65vh;
    width: 100%;
    position: relative;
}

.carousel-inner img{
    margin-left: 30%;
}
